html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
@font-face {
  font-family: FSElliotPro;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/FSElliotPro-Bold.woff2) format("woff2")
}
@font-face {
  font-family: FSElliotPro;
  font-display: swap;
  font-weight: 900;
  src: url(../fonts/FSElliotPro-Heavy.woff2) format("woff2")
}
@font-face {
  font-family: Quantico;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/Quantico-BoldItalic.woff2) format("woff2")
}
@font-face {
  font-family: "Roboto Mono";
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/RobotoMono-Bold.woff2) format("woff2")
}
.svg-image-faq,
.svg-image-logo,
.svg-image-mail {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-image-faq {
  background-position: 93.1506849315% 36.9565217391%;
  background-size: 556.25% auto;
  width: 16px
}
.svg-image-faq:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 106.25%
}
.svg-image-faq-dims {
  width: 16px;
  height: 17px
}
.svg-image-logo {
  background-position: 0 0;
  background-size: 130.8823529412% auto;
  width: 68px
}
.svg-image-logo:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 92.6470588235%
}
.svg-image-logo-dims {
  width: 68px;
  height: 63px
}
.svg-image-mail {
  background-position: 100% 0;
  background-size: 423.8095238095% auto;
  width: 21px
}
.svg-image-mail:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 80.9523809524%
}
.svg-image-mail-dims {
  width: 21px;
  height: 17px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
* {
  box-sizing: border-box
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #f79f1b;
  font-family: "Roboto Mono",monospace;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: #131313;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.main {
  position: relative;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  -webkit-clip-path: polygon(55% 0,51% 55%,48% 50%,43% 100%,0 100%,0 37%,0 0);
  clip-path: polygon(55% 0,51% 55%,48% 50%,43% 100%,0 100%,0 37%,0 0)
}
@media (max-width:767px) {
  .main::after {
    -webkit-clip-path: polygon(55% 0,26% 58%,19% 52%,0 90%,0 0);
    clip-path: polygon(55% 0,26% 58%,19% 52%,0 90%,0 0)
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
a {
  text-decoration: none;
  color: inherit
}
.cases {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  transition: opacity 1.5s .5s ease-in-out,-webkit-transform 1.5s .5s ease-in-out;
  transition: transform 1.5s .5s ease-in-out,opacity 1.5s .5s ease-in-out;
  transition: transform 1.5s .5s ease-in-out,opacity 1.5s .5s ease-in-out,-webkit-transform 1.5s .5s ease-in-out
}
@media (max-width:1599px) {
  .cases {
    max-width: 1000px;
    margin: 0 auto
  }
}
@media (max-width:767px) {
  .cases {
    display: block;
    max-width: 400px;
    transition: opacity .8s .5s ease-in-out,-webkit-transform .8s .5s ease-in-out;
    transition: transform .8s .5s ease-in-out,opacity .8s .5s ease-in-out;
    transition: transform .8s .5s ease-in-out,opacity .8s .5s ease-in-out,-webkit-transform .8s .5s ease-in-out
  }
}
@media (max-width:767px) {
  .cases__col:not(:last-child) {
    margin-bottom: 70px
  }
}
.case {
  display: block
}
.case img {
  display: block;
  max-width: 100%
}
.case__head {
  margin-bottom: -85px
}
@media (max-width:1599px) {
  .case__head {
    margin-bottom: -55px
  }
}
@media (max-width:1023px) {
  .case__head {
    margin-bottom: -10px
  }
}
.case__box {
  display: inline-block;
  text-align: center;
  color: #fff;
  margin-left: 85px
}
@media (max-width:1279px) {
  .case__box {
    margin-left: 40px
  }
}
@media (max-width:767px) {
  .case__box {
    display: block;
    margin: 0
  }
}
.case__title {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  font-family: "Roboto Mono",monospace;
  padding: 0 25px;
  position: relative;
  margin-bottom: 8px
}
@media (max-width:1023px) {
  .case__title {
    padding: 0 16px
  }
}
.case__title::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #e62346;
  -webkit-clip-path: polygon(0 50%,10px 0,calc(100% - 10px) 0,100% 50%,calc(100% - 10px) 100%,10px 100%);
  clip-path: polygon(0 50%,10px 0,calc(100% - 10px) 0,100% 50%,calc(100% - 10px) 100%,10px 100%);
  position: absolute;
  left: 0;
  z-index: -1
}
.case__counter {
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  font-family: Quantico,sans-serif;
  color: #131313
}
.case__main {
  position: relative;
  z-index: 1;
  cursor: pointer;
  will-change: transform;
  margin-top: 100px;
  transition: -webkit-transform .75s ease-in-out,-webkit-filter .75s ease-in-out;
  transition: transform .75s ease-in-out,filter .75s ease-in-out;
  transition: transform .75s ease-in-out,filter .75s ease-in-out,-webkit-transform .75s ease-in-out,-webkit-filter .75s ease-in-out
}
.case__main::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-filter: blur(60px);
  filter: blur(60px);
  z-index: -1
}
@media (max-width:1279px) {
  .case__main::after {
    width: 180px;
    height: 180px
  }
}
@media (max-width:991px) {
  .case__main::after {
    width: 120px;
    height: 120px
  }
}
@media (max-width:767px) {
  .case__main::after {
    width: 180px;
    height: 180px
  }
}
@media (max-width:479px) {
  .case__main::after {
    width: 140px;
    height: 140px
  }
}
@media (max-width:389px) {
  .case__main::after {
    width: 110px;
    height: 110px
  }
}
@media (max-width:1599px) {
  .case__main {
    margin-top: 70px
  }
}
@media (max-width:1023px) {
  .case__main {
    margin-top: 30px
  }
}
.case__hand {
  position: relative;
  transition: -webkit-transform .75s ease-in-out;
  transition: transform .75s ease-in-out;
  transition: transform .75s ease-in-out,-webkit-transform .75s ease-in-out
}
@media (max-width:767px) {
  .case__hand {
    left: 40px
  }
}
@media (max-width:389px) {
  .case__hand {
    left: 30px
  }
}
.case__hand img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
@media (max-width:1279px) {
  .case__hand img {
    width: 90%
  }
}
.case__spiral {
  width: 75%;
  position: absolute;
  left: 35px;
  top: 35%;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  transition: -webkit-transform .75s ease-in-out;
  transition: transform .75s ease-in-out;
  transition: transform .75s ease-in-out,-webkit-transform .75s ease-in-out
}
@media (max-width:767px) {
  .case__spiral {
    width: 90%;
    left: 50%;
    -webkit-transform: translate(-50%,-30%);
    transform: translate(-50%,-30%)
  }
}
.case__spiral img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.case__spiral::before {
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 340px;
  background-color: rgba(255,255,255,.2);
  -webkit-filter: blur(42px);
  filter: blur(42px);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.case__spiral::after {
  content: "";
  width: 90%;
  height: 50%;
  border-radius: 300px;
  background-color: #fff;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  transition: opacity .75s ease-in-out;
  opacity: 0
}
.case__case {
  width: 85%;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
  transition: -webkit-transform .75s ease-in-out,-webkit-filter .75s ease-in-out;
  transition: transform .75s ease-in-out,filter .75s ease-in-out;
  transition: transform .75s ease-in-out,filter .75s ease-in-out,-webkit-transform .75s ease-in-out,-webkit-filter .75s ease-in-out
}
@media (max-width:1279px) {
  .case__case {
    left: 5px
  }
}
@media (max-width:1023px) {
  .case__case {
    left: 0
  }
}
@media (max-width:767px) {
  .case__case {
    width: 80%;
    top: 40%;
    left: 55%;
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%);
    -webkit-animation: moving 10s linear 0s infinite normal backwards;
    animation: moving 10s linear 0s infinite normal backwards;
    will-change: transform
  }
}
@media (max-width:479px) {
  .case__case {
    width: 70%;
    top: 45%;
    left: 50%
  }
}
@media (max-width:389px) {
  .case__case {
    left: 55%
  }
}
@-webkit-keyframes moving {
  0% {
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%)
  }
  25% {
    -webkit-transform: translate(-52%,-43%);
    transform: translate(-52%,-43%)
  }
  75% {
    -webkit-transform: translate(-48%,-47%);
    transform: translate(-48%,-47%)
  }
  100% {
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%)
  }
}
@keyframes moving {
  0% {
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%)
  }
  25% {
    -webkit-transform: translate(-52%,-43%);
    transform: translate(-52%,-43%)
  }
  75% {
    -webkit-transform: translate(-48%,-47%);
    transform: translate(-48%,-47%)
  }
  100% {
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%)
  }
}
.case__case img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.case__skin {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(.3);
  transform: translateY(-50%) scale(.3);
  opacity: 0;
  transition: opacity .75s ease-in-out,-webkit-transform .75s ease-in-out;
  transition: transform .75s ease-in-out,opacity .75s ease-in-out;
  transition: transform .75s ease-in-out,opacity .75s ease-in-out,-webkit-transform .75s ease-in-out
}
@media (min-width:768px) {
  .case:hover .case__main {
    -webkit-transform: scale(.8);
    transform: scale(.8)
  }
  .case:hover .case__hand {
    -webkit-transform: scale(1.2) translate(23%,0);
    transform: scale(1.2) translate(23%,0)
  }
}
@media (min-width:768px) and (max-width:767px) {
  .case:hover .case__hand {
    -webkit-transform: scale(1.1) translate(10%,0);
    transform: scale(1.1) translate(10%,0)
  }
}
@media (min-width:768px) {
  .case:hover .case__spiral {
    -webkit-transform: translate(30%,-30%);
    transform: translate(30%,-30%)
  }
}
@media (min-width:768px) and (max-width:767px) {
  .case:hover .case__spiral {
    -webkit-transform: translate(-40%,-30%);
    transform: translate(-40%,-30%)
  }
}
@media (min-width:768px) {
  .case:hover .case__spiral::after {
    opacity: 1
  }
  .case:hover .case__case {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(.6) translate(-50%,-100%);
    transform: scale(.6) translate(-50%,-100%)
  }
}
@media (min-width:768px) and (max-width:767px) {
  .case:hover .case__case {
    -webkit-transform: scale(.75) translate(-120%,-100%);
    transform: scale(.75) translate(-120%,-100%)
  }
}
@media (min-width:768px) {
  .case:hover .case__skin {
    -webkit-transform: translate(15%,-55%) scale(1.1);
    transform: translate(15%,-55%) scale(1.1);
    opacity: 1
  }
}
@media (min-width:768px) and (max-width:767px) {
  .case:hover .case__skin {
    -webkit-transform: translate(7%,-45%) scale(1);
    transform: translate(7%,-45%) scale(1)
  }
}
.landing {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  padding: 60px 40px;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden
}
.landing__bg img {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}
.landing__title {
  max-width: 770px;
  transition: opacity .8s ease-in-out,-webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out,opacity .8s ease-in-out;
  transition: transform .8s ease-in-out,opacity .8s ease-in-out,-webkit-transform .8s ease-in-out;
  margin-bottom: 80px;
  font-family: Quantico,sans-serif;
  color: #131313
}
@media (max-width:1023px) {
  .landing__title {
    max-width: 670px
  }
}
@media (max-width:767px) {
  .landing__title {
    max-width: 600px;
    margin-bottom: 65px
  }
}
@media (max-width:620px) {
  .landing__title {
    max-width: 300px
  }
}
@media (max-width:479px) {
  .landing__title {
    max-width: 235px;
    word-break: none;
    margin-bottom: 50px
  }
}
.landing__title i {
  font-family: Quantico,sans-serif
}
.landing__title h1,
.landing__title p {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase
}
@media (max-width:1279px) {
  .landing__title h1,
  .landing__title p {
    font-size: 36px
  }
}
@media (max-width:1023px) {
  .landing__title h1,
  .landing__title p {
    font-size: 32px
  }
}
@media (max-width:767px) {
  .landing__title h1,
  .landing__title p {
    font-size: 28px
  }
}
@media (max-width:479px) {
  .landing__title h1,
  .landing__title p {
    font-size: 22px
  }
}
.landing__title p {
  margin: 0
}
@media (max-width:767px) {
  .landing__title p {
    margin-bottom: 20px
  }
}
.landing__title span {
  display: inline-block;
  padding: 0 18px;
  position: relative;
  font-family: Quantico,sans-serif;
  color: #fff
}
.landing__title a {
  transition: color .3s
}
.landing__title a:hover {
  color: #e62346
}
.landing .cases {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto 70px
}
@media (max-width:1599px) {
  .landing .cases {
    max-width: 1000px
  }
}
@media (max-width:1279px) {
  .landing .cases {
    max-width: 720px;
    margin-bottom: 50px
  }
}
@media (max-width:1023px) {
  .landing .cases {
    max-width: 550px
  }
}
@media (max-width:767px) {
  .landing .cases {
    max-width: 390px;
    margin-bottom: 70px
  }
}
.landing .cases__col {
  max-width: 47%
}
@media (max-width:767px) {
  .landing .cases__col {
    max-width: none
  }
}
.landing .cases__col:first-child .case__hand {
  -webkit-transform: scale(-1,1);
  transform: scale(-1,1)
}
@media (max-width:767px) {
  .landing .cases__col:first-child .case__hand {
    left: -40px
  }
}
@media (max-width:389px) {
  .landing .cases__col:first-child .case__hand {
    left: -20px
  }
}
@media (min-width:768px) {
  .landing .cases__col:first-child .case__head {
    text-align: right
  }
  .landing .cases__col:first-child .case__box {
    margin-left: 0;
    margin-right: 85px
  }
}
@media (min-width:768px) and (max-width:1279px) {
  .landing .cases__col:first-child .case__box {
    margin-right: 40px
  }
}
@media (min-width:768px) {
  .landing .cases__col:first-child .case__spiral {
    left: initial;
    right: 35px
  }
  .landing .cases__col:first-child .case__case {
    left: initial;
    right: 0
  }
}
@media (min-width:768px) and (max-width:1279px) {
  .landing .cases__col:first-child .case__case {
    right: -15px
  }
}
@media (min-width:768px) and (max-width:1023px) {
  .landing .cases__col:first-child .case__case {
    right: -10px
  }
}
@media (min-width:768px) {
  .landing .cases__col:first-child .case:hover .case__hand {
    -webkit-transform: scale(-1.2,1.2) translate(23%,0);
    transform: scale(-1.2,1.2) translate(23%,0)
  }
}
@media (min-width:768px) and (max-width:767px) {
  .landing .cases__col:first-child .case:hover .case__hand {
    -webkit-transform: scale(-1.1,1.1) translate(10%,0);
    transform: scale(-1.1,1.1) translate(10%,0)
  }
}
@media (min-width:768px) {
  .landing .cases__col:first-child .case:hover .case__spiral {
    -webkit-transform: translate(-30%,-30%);
    transform: translate(-30%,-30%)
  }
}
@media (min-width:768px) and (max-width:767px) {
  .landing .cases__col:first-child .case:hover .case__spiral {
    -webkit-transform: translate(-60%,-30%);
    transform: translate(-60%,-30%)
  }
}
@media (min-width:768px) {
  .landing .cases__col:first-child .case:hover .case__case {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(.6) translate(50%,-100%);
    transform: scale(.6) translate(50%,-100%)
  }
}
@media (min-width:768px) and (max-width:767px) {
  .landing .cases__col:first-child .case:hover .case__case {
    -webkit-transform: scale(.75) translate(-5%,-100%);
    transform: scale(.75) translate(-5%,-100%)
  }
}
@media (min-width:768px) {
  .landing .cases__col:first-child .case:hover .case__skin {
    -webkit-transform: translate(-25%,-55%) scale(1.1);
    transform: translate(-25%,-55%) scale(1.1);
    opacity: 1
  }
}
@media (min-width:768px) and (max-width:767px) {
  .landing .cases__col:first-child .case:hover .case__skin {
    -webkit-transform: translate(-9%,-45%) scale(1);
    transform: translate(-9%,-45%) scale(1)
  }
}
.landing__text {
  max-width: 100%;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Mono",monospace;
  color: #131313;
  margin: 0 auto;
  transition: opacity 1s 1.25s ease-in-out,-webkit-transform 1s 1.25s ease-in-out;
  transition: transform 1s 1.25s ease-in-out,opacity 1s 1.25s ease-in-out;
  transition: transform 1s 1.25s ease-in-out,opacity 1s 1.25s ease-in-out,-webkit-transform 1s 1.25s ease-in-out
}
@media (max-width:767px) {
  .landing__text {
    transition: opacity .8s 1s ease-in-out,-webkit-transform .8s 1s ease-in-out;
    transition: transform .8s 1s ease-in-out,opacity .8s 1s ease-in-out;
    transition: transform .8s 1s ease-in-out,opacity .8s 1s ease-in-out,-webkit-transform .8s 1s ease-in-out
  }
}
@media (max-width:620px) {
  .landing__text {
    max-width: 280px;
    white-space: normal;
    word-break: keep-all
  }
}
.landing__text p {
  margin: 0
}
.landing__text p:not(:last-child) {
  margin-bottom: 5px
}
.landing__text i {
  font-family: "Roboto Mono",monospace;
  font-style: normal;
  color: #fff
}
html:not(.is-loaded) .landing__title {
  -webkit-transform: translateY(100%) scale(.4);
  transform: translateY(100%) scale(.4);
  opacity: 0
}
@media (max-width:767px) {
  html:not(.is-loaded) .landing__title {
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }
}
html:not(.is-loaded) .cases {
  -webkit-transform: scale(.1);
  transform: scale(.1);
  opacity: 0
}
@media (max-width:767px) {
  html:not(.is-loaded) .cases {
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }
}
html:not(.is-loaded) .landing__text {
  -webkit-transform: translateY(100%) scale(.4);
  transform: translateY(100%) scale(.4);
  opacity: 0
}
@media (max-width:767px) {
  html:not(.is-loaded) .landing__text {
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }
}
header {
  padding: 20px
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.footer {
  font-family: FSElliotPro,Arial,sans-serif;
  background-color: #110f1d;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden
}
.footer img {
  display: block
}
.footer__smoke {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
@media (max-width:1023px) {
  .footer__smoke {
    display: none
  }
}
.footer__wrap {
  padding: 52px 0 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative
}
@media (max-width:1023px) {
  .footer__wrap {
    display: block;
    padding: 32px 0 38px
  }
}
.footer__bullet {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  z-index: -1
}
@media (max-width:1023px) {
  .footer__bullet {
    display: none
  }
}
.footer__main {
  padding-left: 100px;
  padding-right: 30px;
  position: relative
}
@media (max-width:1279px) {
  .footer__main {
    padding-left: 0
  }
}
@media (max-width:1023px) {
  .footer__main {
    padding-right: 0;
    text-align: center;
    margin-bottom: 10px
  }
}
.footer__copy {
  display: block;
  margin-bottom: 12px
}
@media (max-width:1279px) {
  .footer__copy {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
}
@media (max-width:1023px) {
  .footer__copy {
    margin-bottom: 5px
  }
}
@media (max-width:479px) {
  .footer__copy {
    font-size: 12px
  }
}
.footer__logo {
  position: absolute;
  left: 0;
  top: 0
}
@media (max-width:1279px) {
  .footer__logo {
    position: static;
    width: 30px;
    height: 30px;
    margin-right: 10px
  }
  .footer__logo .icon {
    width: 100%;
    height: 100%
  }
}
.footer__info {
  color: #78758c;
  margin-bottom: 28px
}
@media (max-width:1023px) {
  .footer__info {
    margin-bottom: 10px
  }
}
@media (max-width:767px) {
  .footer__info {
    font-size: 10px
  }
}
.footer__info p {
  margin: 0
}
.footer__about {
  color: #4d4a64
}
@media (max-width:767px) {
  .footer__about {
    font-size: 13px
  }
}
.footer__about p {
  margin: 0
}
.footer__second {
  max-width: 580px;
  width: 100%
}
@media (max-width:1279px) {
  .footer__second {
    max-width: 500px
  }
}
@media (max-width:1023px) {
  .footer__second {
    max-width: none
  }
}
.footer__box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px
}
@media (max-width:1023px) {
  .footer__box {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px
  }
}
.footer__payment {
  max-width: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -10px
}
@media (max-width:1023px) {
  .footer__payment {
    margin: 0 auto
  }
}
.footer__payment-image {
  margin-right: 18px;
  margin-bottom: 10px
}
.footer__payment-image:nth-child(3n) {
  margin-right: 0
}
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:1023px) {
  .footer__links {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 16px
  }
}
.footer__links-item:not(:last-child) {
  margin-right: 30px
}
.footer__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4d4a64
}
.footer__link .icon {
  margin-right: 10px
}
.footer .container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto
}
.footer-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:1023px) {
  .footer-menu__list {
    display: block
  }
}
.footer-menu__item:not(:last-child) {
  margin-right: 30px
}
@media (max-width:1023px) {
  .footer-menu__item:not(:last-child) {
    margin: 0 0 15px
  }
}
.footer-menu__link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #ef436c
}
@media (max-width:1023px) {
  .footer-menu__link {
    text-align: center
  }
}
@media (max-width:767px) {
  .footer-menu__link {
    font-size: 10px
  }
}
.cookies-policy-banner {
  background: rgba(195,94,15,.95);
  bottom: 0;
  height: auto;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 200;
  color: #fff;
  font-weight: 400
}
.cookies-policy-banner__inner-wrapper {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1290px;
  padding: 30px 15px
}
@media (max-width:1023px) {
  .cookies-policy-banner__inner-wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
.cookies-policy-banner__text-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  width: 100%
}
@media (max-width:1023px) {
  .cookies-policy-banner__text-block {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.cookies-policy-banner__text-block .icon-wrap {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center
}
.cookies-policy-banner__text-block .icon-wrap img {
  max-height: 64px
}
.cookies-policy-banner__text-block .text {
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 30px 0 30px;
  max-width: 746px
}
@media (max-width:1279px) {
  .cookies-policy-banner__text-block .text {
    margin: 0 15px 0 15px
  }
}
@media (max-width:1023px) {
  .cookies-policy-banner__text-block .text {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px
  }
}
.cookies-policy-banner__text-block .text .title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px
}
@media (max-width:1023px) {
  .cookies-policy-banner__text-block .text .title {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center
  }
}
.cookies-policy-banner__text-block .text p {
  color: #fff;
  font-size: 15px;
  margin: 5px 0;
  font-weight: 400
}
@media (max-width:1279px) {
  .cookies-policy-banner__text-block .text p {
    font-size: 14px
  }
}
@media (max-width:1023px) {
  .cookies-policy-banner__text-block .text p {
    margin-bottom: 40px;
    text-align: center
  }
}
@media (max-width:767px) {
  .cookies-policy-banner__text-block .text p {
    margin-bottom: 20px
  }
}
.cookies-policy-banner__text-block .text p a {
  color: #fff;
  text-decoration: underline
}
.cookies-policy-banner__text-block .text p a:hover {
  color: #1e202f
}
.cookies-policy-banner__button-block {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
@media (max-width:1023px) {
  .cookies-policy-banner__button-block {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
  }
}
.cookies-policy-banner__button-block .accept-cookie-button {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffcd1e;
  border-radius: 8px;
  color: #1e202f;
  cursor: pointer;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  height: 56px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 150px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: unset;
  border: none;
  position: relative
}
.cookies-policy-banner__button-block .accept-cookie-button .check-icon {
  background-color: #1e202f;
  display: inline-block;
  height: 13px;
  margin-left: 10px;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M20 4.095 17.986 2 7.554 12.848 2.014 7.05 0 9.145 7.554 17z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M20 4.095 17.986 2 7.554 12.848 2.014 7.05 0 9.145 7.554 17z'/%3E%3C/svg%3E");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 15px
}
.button__content {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}
/*# sourceMappingURL=maps/main.css.map */
